fieldset.rockpress_multi_select,
fieldset.rockpress_list_select,
fieldset.rockpress_list_select_right {
	display: inline;
	margin-right: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: top;
	width: 300px;
}

fieldset.rockpress_multi_select select[multiple],
fieldset.rockpress_list_select_right select {
	width: 100%;
	height: 150px;
	display: block;
}

fieldset.rockpress_list_select select,
fieldset.rockpress_list_select input[type=text] {
	width: 100%;
	display: block;
}

fieldset.rockpress_multi_select button,
fieldset.rockpress_list_select button {
	margin-top: 10px;
}
